(
    sprinkles_version: "0.1",
    name: "Explosion",
    dimension: D3,
    despawn_on_finish: true,
    emitters: [
        (
            name: "Windup",
            time: (
                lifetime: 0.3,
                one_shot: true,
                explosiveness: 0.9,
                fixed_fps: 60,
            ),
            draw_pass: (
                mesh: Cylinder(
                    top_radius: 0.1,
                    bottom_radius: 0.0,
                    height: 4.0,
                    radial_segments: 8,
                    rings: 2,
                    cap_top: true,
                    cap_bottom: true,
                ),
                material: Standard((
                    base_color: (1.0, 1.0, 1.0, 1.0),
                    emissive: (0.0, 0.0, 0.0, 0.0),
                    alpha_mode: Blend,
                    perceptual_roughness: 0.5,
                    reflectance: 0.5,
                    unlit: true,
                )),
                shadow_caster: false,
                transform_align: Some(YToVelocity),
            ),
            emission: (
                scale: (1.2, 1.2, 1.2),
                shape: SphereSurface(
                    radius: 2.0,
                ),
                particles_amount: 10,
            ),
            scale: (
                range: (
                    min: 0.2,
                    max: 0.4,
                ),
                scale_over_lifetime: Some((
                    points: [
                        (
                            position: 0.0,
                            value: 0.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 0.25,
                            value: 1.0,
                            mode: SingleCurve,
                            tension: -0.6900000000000001,
                            easing: Circ,
                        ),
                        (
                            position: 1.0,
                            value: 0.0,
                            mode: SingleCurve,
                            tension: 0.67,
                            easing: Circ,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 1.0,
                    ),
                )),
            ),
            colors: (
                initial_color: Solid(
                    color: (1.0, 0.9843137, 0.92156863, 1.0),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 1.0,
                        ),
                    ],
                ),
                alpha_over_lifetime: Some((
                    name: Some("Quad out"),
                    points: [
                        (
                            position: 0.0,
                            value: 1.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 1.0,
                            value: 0.0,
                            mode: SingleCurve,
                            tension: -0.5005005005,
                            easing: Power,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 1.0,
                    ),
                )),
                emission_over_lifetime: Some((
                    name: Some("Constant"),
                    points: [
                        (
                            position: 0.0,
                            value: 1.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 1.0,
                            value: 1.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 10.0,
                    ),
                )),
            ),
            velocities: (
                initial_direction: (0.0, 0.0, 0.0),
                spread: 180.0,
                radial_velocity: (
                    velocity: (
                        min: -6.0,
                        max: -5.0,
                    ),
                    velocity_over_lifetime: Some((
                        name: Some("Sine out"),
                        points: [
                            (
                                position: 0.0,
                                value: 1.0,
                                mode: DoubleCurve,
                                tension: 0.0,
                                easing: Power,
                            ),
                            (
                                position: 1.0,
                                value: 0.0,
                                mode: SingleCurve,
                                tension: -1.0,
                                easing: Sine,
                            ),
                        ],
                        range: (
                            min: 0.0,
                            max: 1.0,
                        ),
                    )),
                ),
                angular_velocity: (),
            ),
            accelerations: (
                gravity: (0.0, 0.0, 0.0),
            ),
            turbulence: (
                noise_strength: 0.1,
                noise_scale: 2.5,
                noise_speed_random: 0.2,
                influence: (
                    min: 0.01,
                    max: 0.04,
                ),
            ),
            collision: (
                base_size: 0.01,
            ),
            particle_flags: "",
        ),
        (
            name: "Smoke",
            time: (
                lifetime: 2.0,
                delay: 0.3,
                one_shot: true,
                explosiveness: 0.9,
                fixed_fps: 60,
            ),
            draw_pass: (
                mesh: Sphere(
                    radius: 1.0,
                    segments: 16,
                    rings: 8,
                ),
                material: Standard((
                    base_color: (1.0, 1.0, 1.0, 1.0),
                    emissive: (0.0, 0.0, 0.0, 0.0),
                    alpha_mode: Blend,
                    perceptual_roughness: 1.0,
                    reflectance: 0.5,
                )),
                shadow_caster: false,
            ),
            emission: (
                shape: Sphere(
                    radius: 0.3,
                ),
                particles_amount: 16,
            ),
            scale: (
                range: (
                    min: 0.2,
                    max: 0.3,
                ),
                scale_over_lifetime: Some((
                    points: [
                        (
                            position: 0.0,
                            value: 0.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 0.13,
                            value: 1.0,
                            mode: SingleCurve,
                            tension: -1.0,
                            easing: Circ,
                        ),
                        (
                            position: 1.0,
                            value: 0.0,
                            mode: SingleCurve,
                            tension: -1.0,
                            easing: Circ,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 1.0,
                    ),
                )),
            ),
            colors: (
                initial_color: Gradient(
                    gradient: (
                        stops: [
                            (
                                color: (0.047058824, 0.039215688, 0.03529412, 1.0),
                                position: 0.0,
                            ),
                            (
                                color: (0.10980392, 0.09803922, 0.09019608, 1.0),
                                position: 1.0,
                            ),
                        ],
                    ),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 1.0,
                        ),
                    ],
                ),
                alpha_over_lifetime: Some((
                    points: [
                        (
                            position: 0.0,
                            value: 1.0,
                            mode: SingleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 1.0,
                            value: 0.0,
                            mode: SingleCurve,
                            tension: -0.5,
                            easing: Power,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 1.0,
                    ),
                )),
            ),
            velocities: (
                initial_direction: (1.0, 0.0, 0.0),
                spread: 45.0,
                initial_velocity: (
                    min: 0.0,
                    max: 0.5,
                ),
                radial_velocity: (),
                angular_velocity: (),
            ),
            accelerations: (
                gravity: (0.0, 1.0, 0.0),
            ),
            turbulence: (
                enabled: true,
                noise_strength: 0.1,
                noise_scale: 0.2,
                noise_speed_random: 0.2,
                influence: (
                    min: 0.01,
                    max: 0.04,
                ),
                influence_over_lifetime: Some((
                    points: [
                        (
                            position: 0.0,
                            value: 0.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 0.5,
                            value: 0.75,
                            mode: SingleCurve,
                            tension: -1.0,
                            easing: Circ,
                        ),
                        (
                            position: 1.0,
                            value: 1.0,
                            mode: SingleCurve,
                            tension: 1.0,
                            easing: Circ,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 1.0,
                    ),
                )),
            ),
            collision: (
                base_size: 0.01,
            ),
            particle_flags: "",
        ),
        (
            name: "Fire",
            time: (
                lifetime: 1.0,
                delay: 0.3,
                one_shot: true,
                explosiveness: 0.9,
                fixed_fps: 60,
            ),
            draw_pass: (
                mesh: Sphere(
                    radius: 1.0,
                    segments: 32,
                    rings: 16,
                ),
                material: Standard((
                    base_color: (1.0, 1.0, 1.0, 1.0),
                    emissive: (0.0, 0.0, 0.0, 0.0),
                    alpha_mode: Opaque,
                    perceptual_roughness: 1.0,
                    reflectance: 0.5,
                )),
                shadow_caster: false,
            ),
            emission: (
                shape: Sphere(
                    radius: 0.2,
                ),
                particles_amount: 16,
            ),
            scale: (
                range: (
                    min: 0.2,
                    max: 0.4,
                ),
                scale_over_lifetime: Some((
                    name: Some("Sine out"),
                    points: [
                        (
                            position: 0.0,
                            value: 1.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 1.0,
                            value: 0.0,
                            mode: SingleCurve,
                            tension: -1.0,
                            easing: Sine,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 1.0,
                    ),
                )),
            ),
            colors: (
                initial_color: Gradient(
                    gradient: (
                        stops: [
                            (
                                color: (0.9607843, 0.61960787, 0.043137256, 1.0),
                                position: 0.0,
                            ),
                            (
                                color: (0.9764706, 0.4509804, 0.08627451, 1.0),
                                position: 1.0,
                            ),
                        ],
                    ),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 1.0,
                        ),
                    ],
                ),
                emission_over_lifetime: Some((
                    points: [
                        (
                            position: 0.0,
                            value: 10.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 1.0,
                            value: 0.0,
                            mode: SingleCurve,
                            tension: -1.0,
                            easing: Circ,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 10.0,
                    ),
                )),
            ),
            velocities: (
                initial_direction: (1.0, 0.0, 0.0),
                spread: 180.0,
                initial_velocity: (
                    min: 0.0,
                    max: 5.0,
                ),
                radial_velocity: (),
                angular_velocity: (),
            ),
            accelerations: (
                gravity: (0.0, 0.3, 0.0),
            ),
            turbulence: (
                noise_strength: 0.1,
                noise_scale: 2.5,
                noise_speed_random: 0.2,
                influence: (
                    min: 0.01,
                    max: 0.04,
                ),
            ),
            collision: (
                base_size: 0.01,
            ),
            particle_flags: "",
        ),
        (
            name: "Sparks",
            time: (
                lifetime: 0.7,
                delay: 0.3,
                one_shot: true,
                explosiveness: 0.9,
                fixed_fps: 60,
            ),
            draw_pass: (
                mesh: Cylinder(
                    top_radius: 0.2,
                    bottom_radius: 0.0,
                    height: 3.0,
                    radial_segments: 8,
                    rings: 2,
                    cap_top: true,
                    cap_bottom: true,
                ),
                material: Standard((
                    base_color: (1.0, 1.0, 1.0, 1.0),
                    emissive: (0.0, 0.0, 0.0, 0.0),
                    alpha_mode: Blend,
                    perceptual_roughness: 0.5,
                    reflectance: 0.5,
                )),
                shadow_caster: false,
                transform_align: Some(YToVelocity),
            ),
            emission: (
                shape: Sphere(
                    radius: 0.2,
                ),
                particles_amount: 20,
            ),
            scale: (
                range: (
                    min: 0.2,
                    max: 0.4,
                ),
                scale_over_lifetime: Some((
                    name: Some("Sine out"),
                    points: [
                        (
                            position: 0.0,
                            value: 1.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 1.0,
                            value: 0.0,
                            mode: SingleCurve,
                            tension: -1.0,
                            easing: Sine,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 1.0,
                    ),
                )),
            ),
            colors: (
                initial_color: Gradient(
                    gradient: (
                        stops: [
                            (
                                color: (0.9607843, 0.61960787, 0.043137256, 1.0),
                                position: 0.0,
                            ),
                            (
                                color: (0.9764706, 0.4509804, 0.08627451, 1.0),
                                position: 1.0,
                            ),
                        ],
                    ),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 1.0,
                        ),
                    ],
                ),
                emission_over_lifetime: Some((
                    points: [
                        (
                            position: 0.0,
                            value: 10.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 1.0,
                            value: 0.0,
                            mode: SingleCurve,
                            tension: -1.0,
                            easing: Circ,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 10.0,
                    ),
                )),
            ),
            velocities: (
                initial_direction: (1.0, 0.0, 0.0),
                spread: 180.0,
                initial_velocity: (
                    min: 2.0,
                    max: 5.0,
                ),
                radial_velocity: (),
                angular_velocity: (),
            ),
            accelerations: (
                gravity: (0.0, -1.5, 0.0),
            ),
            turbulence: (
                noise_strength: 0.1,
                noise_scale: 2.5,
                noise_speed_random: 0.2,
                influence: (
                    min: 0.01,
                    max: 0.04,
                ),
            ),
            collision: (
                base_size: 0.01,
            ),
            particle_flags: "",
        ),
        (
            name: "Shockwave",
            time: (
                lifetime: 0.5,
                delay: 0.3,
                one_shot: true,
                fixed_fps: 60,
            ),
            draw_pass: (
                mesh: Quad(
                    orientation: FaceY,
                    size: (1.0, 1.0),
                ),
                material: Standard((
                    base_color: (1.0, 1.0, 1.0, 1.0),
                    base_color_texture: Some(Preset(Circle3)),
                    emissive: (0.0, 0.0, 0.0, 0.0),
                    alpha_mode: Blend,
                    perceptual_roughness: 0.5,
                    reflectance: 0.5,
                    double_sided: true,
                    cull_mode: None,
                    unlit: true,
                )),
                shadow_caster: false,
            ),
            emission: (
                particles_amount: 1,
            ),
            scale: (
                range: (
                    min: 6.0,
                    max: 6.0,
                ),
                scale_over_lifetime: Some((
                    name: Some("Circ out"),
                    points: [
                        (
                            position: 0.0,
                            value: 0.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 1.0,
                            value: 1.0,
                            mode: SingleCurve,
                            tension: -1.0,
                            easing: Circ,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 1.0,
                    ),
                )),
            ),
            colors: (
                initial_color: Solid(
                    color: (1.0, 1.0, 1.0, 1.0),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 1.0,
                        ),
                    ],
                ),
                alpha_over_lifetime: Some((
                    points: [
                        (
                            position: 0.12,
                            value: 1.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 1.0,
                            value: 0.0,
                            mode: SingleCurve,
                            tension: 0.6673340007,
                            easing: Power,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 1.0,
                    ),
                )),
            ),
            velocities: (
                initial_direction: (1.0, 0.0, 0.0),
                spread: 45.0,
                radial_velocity: (),
                angular_velocity: (),
            ),
            accelerations: (
                gravity: (0.0, 0.0, 0.0),
            ),
            collision: (
                base_size: 0.01,
            ),
            particle_flags: "",
        ),
        (
            name: "Debris",
            time: (
                lifetime: 3.0,
                lifetime_randomness: 0.3,
                delay: 0.3,
                one_shot: true,
                explosiveness: 0.95,
                fixed_fps: 60,
            ),
            draw_pass: (
                mesh: Prism(
                    left_to_right: 0.5,
                    size: (1.0, 1.0, 1.0),
                ),
                material: Standard((
                    base_color: (1.0, 1.0, 1.0, 1.0),
                    emissive: (0.0, 0.0, 0.0, 0.0),
                    alpha_mode: Opaque,
                    perceptual_roughness: 0.5,
                    reflectance: 0.5,
                )),
                transform_align: Some(YToVelocity),
            ),
            emission: (
                shape: Sphere(
                    radius: 0.2,
                ),
                particles_amount: 16,
            ),
            scale: (
                range: (
                    min: 0.04,
                    max: 0.1,
                ),
                scale_over_lifetime: Some((
                    points: [
                        (
                            position: 0.5,
                            value: 1.0,
                            mode: DoubleCurve,
                            tension: 0.0,
                            easing: Power,
                        ),
                        (
                            position: 1.0,
                            value: 0.0,
                            mode: SingleCurve,
                            tension: -0.8008008008,
                            easing: Power,
                        ),
                    ],
                    range: (
                        min: 0.0,
                        max: 1.0,
                    ),
                )),
            ),
            colors: (
                initial_color: Gradient(
                    gradient: (
                        stops: [
                            (
                                color: (0.15294118, 0.15294118, 0.16470589, 1.0),
                                position: 0.0,
                            ),
                            (
                                color: (0.03529412, 0.03529412, 0.043137256, 1.0),
                                position: 1.0,
                            ),
                        ],
                    ),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 1.0,
                        ),
                    ],
                ),
            ),
            velocities: (
                initial_direction: (1.0, 0.0, 0.0),
                spread: 180.0,
                initial_velocity: (
                    min: 0.0,
                    max: 5.0,
                ),
                radial_velocity: (),
                angular_velocity: (),
            ),
            accelerations: (
                gravity: (0.0, -9.8, 0.0),
            ),
            collision: (
                mode: Some(Rigid(
                    friction: 0.1,
                    bounce: 0.15,
                )),
                use_scale: true,
                base_size: 0.01,
            ),
            particle_flags: "",
        ),
    ],
    colliders: [
        (
            name: "Floor",
            shape: Box(
                size: (10.0, 0.1, 10.0),
            ),
            position: (0.0, -2.0, 0.0),
        ),
    ],
    authors: (
        inspired_by: "Brackeys",
        submitted_by: "DoceAzedo",
    ),
)
