(
    sprinkles_version: "0.1",
    name: "Magic Puff",
    dimension: D3,
    emitters: [
        (
            name: "Shock",
            time: (
                lifetime: 0.3,
                one_shot: true,
                fixed_fps: 60,
            ),
            draw_pass: (
                mesh: Sphere(
                    radius: 1.25,
                    segments: 32,
                    rings: 16,
                ),
                material: Standard((
                    base_color: (1.0, 1.0, 1.0, 1.0),
                    emissive: (0.0, 0.0, 0.0, 0.0),
                    alpha_mode: Blend,
                    perceptual_roughness: 0.5,
                    reflectance: 0.5,
                    unlit: true,
                )),
                shadow_caster: false,
            ),
            emission: (
                particles_amount: 1,
            ),
            scale: (
                range: (
                    min: 1.0,
                    max: 1.0,
                ),
                scale_over_lifetime: Some((
                    name: Some("Quad out"),
                    x: (
                        points: [
                            (
                                position: 0.0,
                                value: 0.0,
                                mode: DoubleCurve,
                                tension: 0.0,
                                easing: Power,
                            ),
                            (
                                position: 1.0,
                                value: 1.0,
                                mode: SingleCurve,
                                tension: -0.5005005005,
                                easing: Power,
                            ),
                        ],
                        range: (
                            min: 0.0,
                            max: 1.0,
                        ),
                    ),
                )),
            ),
            colors: (
                initial_color: Solid(
                    color: (1.0, 1.0, 1.0, 1.0),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (0.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.8,
                        ),
                    ],
                ),
                alpha_over_lifetime: Some((
                    x: (
                        points: [
                            (
                                position: 0.0,
                                value: 1.0,
                                mode: DoubleCurve,
                                tension: 0.0,
                                easing: Power,
                            ),
                            (
                                position: 1.0,
                                value: 0.0,
                                mode: SingleCurve,
                                tension: 0.5005005005,
                                easing: Power,
                            ),
                        ],
                        range: (
                            min: 0.0,
                            max: 1.0,
                        ),
                    ),
                )),
            ),
            velocities: (
                initial_direction: (1.0, 0.0, 0.0),
                spread: 45.0,
                radial_velocity: (),
                angular_velocity: (),
            ),
            accelerations: (
                gravity: (0.0, 0.0, 0.0),
            ),
            collision: (
                base_size: 0.01,
            ),
            particle_flags: "",
        ),
        (
            name: "Debris",
            time: (
                lifetime: 2.2,
                lifetime_randomness: 0.3,
                one_shot: true,
                explosiveness: 0.95,
                fixed_fps: 60,
            ),
            draw_pass: (
                mesh: Prism(
                    left_to_right: 0.5,
                    size: (1.0, 1.0, 1.5),
                ),
                material: Standard((
                    base_color: (0.0, 1.0, 1.0, 1.0),
                    emissive: (0.0, 10.000002, 9.999999, 1.0),
                    alpha_mode: Opaque,
                    perceptual_roughness: 0.5,
                    reflectance: 0.5,
                )),
                shadow_caster: false,
                transform_align: Some(YToVelocity),
            ),
            emission: (
                shape: Sphere(
                    radius: 0.5,
                ),
                particles_amount: 24,
            ),
            scale: (
                range: (
                    min: 0.02,
                    max: 0.08,
                ),
                scale_over_lifetime: Some((
                    x: (
                        points: [
                            (
                                position: 0.5,
                                value: 1.0,
                                mode: DoubleCurve,
                                tension: 0.0,
                                easing: Power,
                            ),
                            (
                                position: 1.0,
                                value: 0.0,
                                mode: SingleCurve,
                                tension: -0.8008008008,
                                easing: Power,
                            ),
                        ],
                        range: (
                            min: 0.0,
                            max: 1.0,
                        ),
                    ),
                )),
            ),
            angle: (
                range: (
                    min: 0.0,
                    max: 360.0,
                ),
            ),
            colors: (
                initial_color: Solid(
                    color: (1.0, 1.0, 1.0, 1.0),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 1.0,
                        ),
                    ],
                ),
            ),
            velocities: (
                initial_direction: (0.0, 1.0, 0.0),
                spread: 90.0,
                initial_velocity: (
                    min: 1.0,
                    max: 3.0,
                ),
                radial_velocity: (
                    velocity: (
                        min: 0.0,
                        max: 2.0,
                    ),
                ),
                angular_velocity: (
                    velocity: (
                        min: 5.0,
                        max: 10.0,
                    ),
                ),
            ),
            accelerations: (
                gravity: (0.0, -9.8, 0.0),
            ),
            collision: (
                mode: Some(Rigid(
                    friction: 0.2,
                    bounce: 0.15,
                )),
                use_scale: true,
                base_size: 0.2,
            ),
            particle_flags: "",
        ),
        (
            name: "Magic",
            time: (
                lifetime: 1.2,
                lifetime_randomness: 0.3,
                one_shot: true,
                explosiveness: 0.95,
            ),
            draw_pass: (
                mesh: Quad(
                    orientation: FaceZ,
                    size: (1.5, 1.5),
                ),
                material: Standard((
                    base_color: (1.0, 1.0, 1.0, 1.0),
                    base_color_texture: Some(Preset(Flame1)),
                    emissive: (0.0, 10.000002, 9.999999, 1.0),
                    alpha_mode: Add,
                    perceptual_roughness: 0.5,
                    reflectance: 0.5,
                )),
                shadow_caster: false,
                transform_align: Some(Billboard),
            ),
            emission: (
                shape: Sphere(
                    radius: 0.5,
                ),
                particles_amount: 64,
            ),
            scale: (
                range: (
                    min: 1.0,
                    max: 1.25,
                ),
                scale_over_lifetime: Some((
                    x: (
                        points: [
                            (
                                position: 0.0,
                                value: 0.0,
                                mode: DoubleCurve,
                                tension: 0.0,
                                easing: Power,
                            ),
                            (
                                position: 0.13,
                                value: 1.0,
                                mode: SingleCurve,
                                tension: 1.0,
                                easing: Sine,
                            ),
                            (
                                position: 0.27,
                                value: 0.86,
                                mode: SingleCurve,
                                tension: 0.9500000000000001,
                                easing: Sine,
                            ),
                            (
                                position: 0.39,
                                value: 1.0,
                                mode: SingleCurve,
                                tension: 0.99,
                                easing: Sine,
                            ),
                            (
                                position: 0.5,
                                value: 0.91,
                                mode: SingleCurve,
                                tension: 1.0,
                                easing: Sine,
                            ),
                            (
                                position: 0.62,
                                value: 1.0,
                                mode: SingleCurve,
                                tension: 1.0,
                                easing: Sine,
                            ),
                            (
                                position: 1.0,
                                value: 0.75,
                                mode: SingleCurve,
                                tension: -1.0,
                                easing: Sine,
                            ),
                        ],
                        range: (
                            min: 0.0,
                            max: 1.0,
                        ),
                    ),
                )),
            ),
            angle: (
                range: (
                    min: 0.0,
                    max: 360.0,
                ),
            ),
            colors: (
                initial_color: Solid(
                    color: (0.0, 1.0, 1.0, 1.0),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 1.0,
                        ),
                    ],
                ),
                alpha_over_lifetime: Some((
                    x: (
                        points: [
                            (
                                position: 0.0,
                                value: 0.0,
                                mode: DoubleCurve,
                                tension: 0.0,
                                easing: Power,
                            ),
                            (
                                position: 0.25,
                                value: 1.0,
                                mode: SingleCurve,
                                tension: -0.99,
                                easing: Circ,
                            ),
                            (
                                position: 1.0,
                                value: 0.0,
                                mode: DoubleCurve,
                                tension: -1.0,
                                easing: Sine,
                            ),
                        ],
                        range: (
                            min: 0.0,
                            max: 1.0,
                        ),
                    ),
                )),
            ),
            velocities: (
                initial_direction: (1.0, 0.0, 0.0),
                spread: 180.0,
                initial_velocity: (
                    min: 0.0,
                    max: 1.0,
                ),
                radial_velocity: (),
                angular_velocity: (
                    velocity: (
                        min: -90.0,
                        max: 90.0,
                    ),
                ),
            ),
            accelerations: (
                gravity: (0.0, 0.3, 0.0),
            ),
            collision: (
                base_size: 0.01,
            ),
            particle_flags: "",
        ),
        (
            name: "Smoke",
            position: (0.0, 0.1, 0.0),
            time: (
                lifetime: 1.5,
                lifetime_randomness: 0.3,
                one_shot: true,
                explosiveness: 0.9,
                fixed_fps: 60,
            ),
            draw_pass: (
                mesh: Quad(
                    orientation: FaceZ,
                    size: (2.0, 2.0),
                ),
                material: Standard((
                    base_color: (1.0, 1.0, 1.0, 1.0),
                    base_color_texture: Some(Preset(Fire2)),
                    emissive: (1.0, 1.0, 1.0, 0.0),
                    alpha_mode: Blend,
                    perceptual_roughness: 0.5,
                    reflectance: 0.5,
                    unlit: true,
                )),
                shadow_caster: false,
                transform_align: Some(Billboard),
            ),
            emission: (
                offset: (0.0, 0.2, 0.0),
                scale: (0.5, 0.5, 0.5),
                shape: Sphere(
                    radius: 2.0,
                ),
                particles_amount: 64,
            ),
            scale: (
                range: (
                    min: 1.0,
                    max: 1.0,
                ),
                scale_over_lifetime: Some((
                    x: (
                        points: [
                            (
                                position: 0.0,
                                value: 0.0,
                                mode: DoubleCurve,
                                tension: 0.0,
                                easing: Power,
                            ),
                            (
                                position: 0.25,
                                value: 1.0,
                                mode: SingleCurve,
                                tension: -1.0,
                                easing: Circ,
                            ),
                            (
                                position: 1.0,
                                value: 0.49,
                                mode: DoubleCurve,
                                tension: -1.0,
                                easing: Sine,
                            ),
                        ],
                        range: (
                            min: 0.0,
                            max: 1.0,
                        ),
                    ),
                )),
            ),
            angle: (
                range: (
                    min: 0.0,
                    max: 360.0,
                ),
            ),
            colors: (
                initial_color: Gradient(
                    gradient: (
                        stops: [
                            (
                                color: (0.24705882, 0.24705882, 0.27450982, 1.0),
                                position: 0.0,
                            ),
                            (
                                color: (0.15294118, 0.15294118, 0.16470589, 1.0),
                                position: 1.0,
                            ),
                        ],
                    ),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 1.0,
                        ),
                    ],
                ),
                alpha_over_lifetime: Some((
                    x: (
                        points: [
                            (
                                position: 0.0,
                                value: 0.25,
                                mode: DoubleCurve,
                                tension: 0.0,
                                easing: Power,
                            ),
                            (
                                position: 1.0,
                                value: 0.0,
                                mode: SingleCurve,
                                tension: -1.0,
                                easing: Sine,
                            ),
                        ],
                        range: (
                            min: 0.0,
                            max: 1.0,
                        ),
                    ),
                )),
            ),
            velocities: (
                initial_direction: (1.0, 0.0, 0.0),
                spread: 180.0,
                initial_velocity: (
                    min: -2.0,
                    max: 1.3,
                ),
                radial_velocity: (),
                angular_velocity: (
                    velocity: (
                        min: -90.0,
                        max: 90.0,
                    ),
                ),
            ),
            accelerations: (
                gravity: (0.0, 9.3, 0.0),
            ),
            turbulence: (
                enabled: true,
                noise_strength: 5.0,
                noise_scale: 2.0,
                noise_speed: (2.0, 0.0, 2.0),
                noise_speed_random: 2.0,
                influence: (
                    min: 0.0,
                    max: 0.1,
                ),
            ),
            collision: (
                base_size: 0.01,
            ),
            particle_flags: "",
        ),
        (
            name: "Balls",
            time: (
                lifetime: 0.8,
                lifetime_randomness: 0.7,
                one_shot: true,
                explosiveness: 0.9,
                fixed_fps: 60,
            ),
            draw_pass: (
                mesh: Quad(
                    orientation: FaceZ,
                    size: (0.3, 0.3),
                ),
                material: Standard((
                    base_color: (0.0, 1.0, 1.0, 1.0),
                    base_color_texture: Some(Preset(Fire2)),
                    emissive: (0.0, 50.0, 50.0, 1.0),
                    alpha_mode: Add,
                    perceptual_roughness: 0.5,
                    reflectance: 0.5,
                )),
                shadow_caster: false,
                transform_align: Some(Billboard),
            ),
            emission: (
                shape: SphereSurface(
                    radius: 0.8,
                ),
                particles_amount: 10,
            ),
            scale: (
                range: (
                    min: 1.0,
                    max: 1.0,
                ),
                scale_over_lifetime: Some((
                    x: (
                        points: [
                            (
                                position: 0.0,
                                value: 0.0,
                                mode: DoubleCurve,
                                tension: 0.0,
                                easing: Power,
                            ),
                            (
                                position: 0.25,
                                value: 1.0,
                                mode: SingleCurve,
                                tension: -1.0,
                                easing: Circ,
                            ),
                            (
                                position: 1.0,
                                value: 0.0,
                                mode: SingleCurve,
                                tension: -1.0,
                                easing: Circ,
                            ),
                        ],
                        range: (
                            min: 0.0,
                            max: 1.0,
                        ),
                    ),
                )),
            ),
            angle: (
                range: (
                    min: 0.0,
                    max: 360.0,
                ),
            ),
            colors: (
                initial_color: Solid(
                    color: (1.0, 1.0, 1.0, 1.0),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 1.0,
                        ),
                    ],
                ),
            ),
            velocities: (
                initial_direction: (0.0, 1.0, 0.0),
                spread: 0.0,
                initial_velocity: (
                    min: 2.0,
                    max: 3.0,
                ),
                radial_velocity: (
                    velocity: (
                        min: 1.0,
                        max: 2.0,
                    ),
                ),
                angular_velocity: (),
            ),
            accelerations: (
                gravity: (0.0, -9.8, 0.0),
            ),
            collision: (
                base_size: 0.01,
            ),
            particle_flags: "",
        ),
        (
            name: "Sparks",
            time: (
                lifetime: 0.4,
                lifetime_randomness: 0.7,
                one_shot: true,
                explosiveness: 0.9,
                fixed_fps: 60,
            ),
            draw_pass: (
                mesh: Quad(
                    orientation: FaceZ,
                    size: (1.0, 0.5),
                ),
                material: Standard((
                    base_color: (0.0, 1.0, 1.0, 1.0),
                    base_color_texture: Some(Preset(Trace1)),
                    emissive: (0.0, 50.0, 50.0, 1.0),
                    alpha_mode: Add,
                    perceptual_roughness: 0.5,
                    reflectance: 0.5,
                )),
                shadow_caster: false,
                transform_align: Some(BillboardYToVelocity),
            ),
            emission: (
                shape: SphereSurface(
                    radius: 0.7,
                ),
                particles_amount: 50,
            ),
            scale: (
                range: (
                    min: 0.5,
                    max: 1.0,
                ),
                scale_over_lifetime: Some((
                    x: (
                        points: [
                            (
                                position: 0.0,
                                value: 0.0,
                                mode: DoubleCurve,
                                tension: 0.0,
                                easing: Power,
                            ),
                            (
                                position: 0.5,
                                value: 1.0,
                                mode: SingleCurve,
                                tension: -1.0,
                                easing: Circ,
                            ),
                        ],
                        range: (
                            min: 0.0,
                            max: 1.0,
                        ),
                    ),
                )),
            ),
            colors: (
                initial_color: Solid(
                    color: (1.0, 1.0, 1.0, 1.0),
                ),
                color_over_lifetime: (
                    stops: [
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 0.0,
                        ),
                        (
                            color: (1.0, 1.0, 1.0, 1.0),
                            position: 1.0,
                        ),
                    ],
                ),
                alpha_over_lifetime: Some((
                    x: (
                        points: [
                            (
                                position: 0.5,
                                value: 1.0,
                                mode: DoubleCurve,
                                tension: 0.0,
                                easing: Power,
                            ),
                            (
                                position: 1.0,
                                value: 0.0,
                                mode: SingleCurve,
                                tension: -1.0,
                                easing: Sine,
                            ),
                        ],
                        range: (
                            min: 0.0,
                            max: 1.0,
                        ),
                    ),
                )),
            ),
            velocities: (
                initial_direction: (1.0, 1.0, 1.0),
                spread: 45.0,
                initial_velocity: (
                    min: 1.0,
                    max: 2.0,
                ),
                radial_velocity: (
                    velocity: (
                        min: 1.0,
                        max: 2.0,
                    ),
                ),
                angular_velocity: (),
            ),
            accelerations: (
                gravity: (0.0, 0.0, 0.0),
            ),
            collision: (
                base_size: 0.01,
            ),
            particle_flags: "",
        ),
    ],
    colliders: [
        (
            name: "Floor",
            shape: Box(
                size: (20.0, 0.2, 20.0),
            ),
            position: (0.0, -2.1, -0.1),
        ),
    ],
    authors: (
        inspired_by: "Brackeys",
        submitted_by: "DoceAzedo",
    ),
)